<a href="https://colab.research.google.com/github/Kylehanna/Instacart-Market-Basket-Analysis/blob/main/Notebooks/03_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import os 
from statsmodels.graphics.mosaicplot import mosaic
color = sns.color_palette()

from sklearn.decomposition import PCA
from sklearn.preprocessing import scale

#from library.sb_utils import save_file

import warnings
warnings.filterwarnings("ignore")

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pd.read_csv('/content/drive/MyDrive/GROUND GAME AI/00 Capstone 2 - Instacart Market Basket Analysis (Customer Segmentation)/Instacart-Market-Basket-Analysis/data/instacartData_train.csv')

In [4]:
df.head()

   Unnamed: 0  order_id  ...  order_hour_of_day  days_since_prior_order
0           0         1  ...                 10                     9.0
1           1         1  ...                 10                     9.0
2           2         1  ...                 10                     9.0
3           3         1  ...                 10                     9.0
4           4         1  ...                 10                     9.0

[5 rows x 16 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1384617 entries, 0 to 1384616
Data columns (total 16 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Unnamed: 0              1384617 non-null  int64
 1   order_id                1384617 non-null  int64
 2   product_id              1384617 non-null  int64
 3   add_to_cart_order       1384617 non-null  int64
 4   reordered               1384617 non-null  int64
 5   product_name            1384617 non-null  object
 6   aisle_id                1384617 non-null  int64
 7   department_id           1384617 non-null  int64
 8   aisle                   1384617 non-null  object
 9   department              1384617 non-null  object
 10  user_id                 1384617 non-null  int64
 11  eval_set                1384617 non-null  object
 12  order_number            1384617 non-null  int64
 13  order_dow               1384617 non-null  int64
 14  order_hour_of_day       1384617 non-null  int64
 15  days_since_prior_order  1384617 non-null  float64
dtypes: float64(1), int64(11), object(4)
memory usage: 169.0+ MB

In [6]:
df.eval_set.unique()

array(['train'], dtype=object)

In [7]:
df.shape

(1384617, 16)

## Feature Engineering

In [77]:
#Total number of orders placed by each users
users = df.groupby(by='user_id')['order_number'].aggregate('max').to_frame('u_num_of_orders').reset_index()

In [78]:
users.head()

   user_id  u_num_of_orders
0        1               11
1        2               15
2        5                5
3        7               21
4        8                4

In [79]:
# Average number of products bought by the user in each purchase.
#1. First getting the total number of products in each order.
total_prd_per_order = df.groupby(by=['user_id', 'order_id'])['product_id'].aggregate('count').to_frame('total_products_per_order').reset_index()
total_prd_per_order.head(10)

   user_id  order_id  total_products_per_order
0        1   1187899                        11
1        2   1492625                        31
2        5   2196797                         9
3        7    525192                         9
4        8    880375                        18
5        9   1094988                        22
6       10   1822501                         4
7       13   1827621                         5
8       14   2316178                        11
9       17   2180313                         6

In [80]:
#2. Getting the average number of products purchased by each user
avg_products = total_prd_per_order.groupby(by=['user_id'])['total_products_per_order'].mean().to_frame('u_avg_prd').reset_index()
avg_products.head()

   user_id  u_avg_prd
0        1       11.0
1        2       31.0
2        5        9.0
3        7        9.0
4        8       18.0

In [81]:
#deleting the total_prd_per_order dataframe
del total_prd_per_order

In [82]:
#dow of most orders placed by each user
from scipy import stats
dow = df.groupby(by='user_id')['order_dow'].agg(lambda x: stats.mode(x)[0]).to_frame('dow_most_orders_u').reset_index()
dow.head()

   user_id  dow_most_orders_u
0        1                  4
1        2                  1
2        5                  0
3        7                  2
4        8                  1

In [83]:
#hour of day when most orders placed by each user
from scipy import stats
hod = df.groupby(by='user_id')['order_hour_of_day'].agg(lambda x: stats.mode(x)[0]).to_frame('hod_most_orders_u').reset_index()
hod.head()

   user_id  hod_most_orders_u
0        1                  8
1        2                 11
2        5                 11
3        7                 11
4        8                 14

In [84]:
#merging the user created features.

#1. merging avg_products with users
users = users.merge(avg_products, on='user_id', how='left')
#deleting avg_products
del avg_products
users.head()

   user_id  u_num_of_orders  u_avg_prd
0        1               11       11.0
1        2               15       31.0
2        5                5        9.0
3        7               21        9.0
4        8                4       18.0

In [85]:
#2. merging dow with users.
users = users.merge(dow, on='user_id', how='left')
#deleting dow
del dow
users.head()

   user_id  u_num_of_orders  u_avg_prd  dow_most_orders_u
0        1               11       11.0                  4
1        2               15       31.0                  1
2        5                5        9.0                  0
3        7               21        9.0                  2
4        8                4       18.0                  1

In [86]:
#number of times a product was purchased.
prd = df.groupby(by='product_id')['order_id'].agg('count').to_frame('prd_count_p').reset_index()
prd.head()

   product_id  prd_count_p
0           1           76
1           2            4
2           3            6
3           4           22
4           5            1

In [87]:
#products reorder ratio.
reorder_p = df.groupby(by='product_id')['reordered'].agg('mean').to_frame('p_reordered_ratio').reset_index()
reorder_p.head()

   product_id  p_reordered_ratio
0           1           0.644737
1           2           0.250000
2           3           1.000000
3           4           0.636364
4           5           1.000000

In [88]:
#merging the reorder_p with prd
prd = prd.merge(reorder_p, on='product_id', how='left')
#deleting reorder_p
del reorder_p
prd.head()

   product_id  prd_count_p  p_reordered_ratio
0           1           76           0.644737
1           2            4           0.250000
2           3            6           1.000000
3           4           22           0.636364
4           5            1           1.000000

In [89]:
#how many times has a user bought the same product?
uxp = df.groupby(by=['user_id', 'product_id'])['order_id'].agg('count').to_frame('uxp_times_bought').reset_index()
uxp.head()

   user_id  product_id  uxp_times_bought
0        1         196                 1
1        1       10258                 1
2        1       13032                 1
3        1       25133                 1
4        1       26088                 1

In [90]:
#reorder ratio of the user for each product.
reorder_uxp = df.groupby(by=['user_id', 'product_id'])['reordered'].agg('mean').to_frame('uxp_reordered_ratio').reset_index()
reorder_uxp.head()

   user_id  product_id  uxp_reordered_ratio
0        1         196                  1.0
1        1       10258                  1.0
2        1       13032                  1.0
3        1       25133                  1.0
4        1       26088                  1.0

In [91]:
#merging the two dataframes into one
uxp = uxp.merge(reorder_uxp, on=['user_id', 'product_id'], how='left')
#deleting reorder_uxp
del reorder_uxp
uxp.head()

   user_id  product_id  uxp_times_bought  uxp_reordered_ratio
0        1         196                 1                  1.0
1        1       10258                 1                  1.0
2        1       13032                 1                  1.0
3        1       25133                 1                  1.0
4        1       26088                 1                  1.0

In [92]:
#merging users df into uxp
#the dataset includes samples of all eval_set (prior/train/test) data.
data = uxp.merge(users, on='user_id', how='left')
data.head()

   user_id  product_id  ...  u_avg_prd  dow_most_orders_u
0        1         196  ...       11.0                  4
1        1       10258  ...       11.0                  4
2        1       13032  ...       11.0                  4
3        1       25133  ...       11.0                  4
4        1       26088  ...       11.0                  4

[5 rows x 7 columns]

In [93]:
#merging products df into data
data = data.merge(prd, on='product_id', how='left')
data.head()

   user_id  product_id  ...  prd_count_p  p_reordered_ratio
0        1         196  ...         1507           0.810219
1        1       10258  ...          104           0.750000
2        1       13032  ...          153           0.758170
3        1       25133  ...          186           0.747312
4        1       26088  ...          136           0.566176

[5 rows x 9 columns]

In [94]:
del [users, prd, uxp]

In [95]:
data.shape

(1384617, 9)

In [96]:
orders = pd.read_csv('/content/drive/MyDrive/GROUND GAME AI/00 Capstone 2 - Instacart Market Basket Analysis (Customer Segmentation)/Instacart-Market-Basket-Analysis/raw data/orders.csv')

In [97]:
orders.head()

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [98]:
orders.eval_set.value_counts()

prior    3214874
train     131209
test       75000
Name: eval_set, dtype: int64

In [99]:
orders.shape

(3421083, 7)

In [100]:
#keeping only the train and test from eval_set orders dataframe.

#order_products_prior dataset was too big to work with.
#order_products_train(orders.eval_set=train) df was used instead, and enhanaced with FE.
#Use order.eval_set=='prior' to train df to avoid model overfitting.

order_future = orders.loc[((orders.eval_set == 'train') | (orders.eval_set == 'test')), ['user_id', 'eval_set', 'order_id']]
order_future.head()

    user_id eval_set  order_id
10        1    train   1187899
25        2    train   1492625
38        3     test   2774568
44        4     test    329954
49        5    train   2196797

In [101]:
order_future.eval_set.unique()

array(['train', 'test'], dtype=object)

In [102]:
#merging the order_future with the data.
data = order_future.merge(data, on='user_id', how='left')
data.head()

   user_id eval_set  ...  prd_count_p  p_reordered_ratio
0        1    train  ...       1507.0           0.810219
1        1    train  ...        104.0           0.750000
2        1    train  ...        153.0           0.758170
3        1    train  ...        186.0           0.747312
4        1    train  ...        136.0           0.566176

[5 rows x 11 columns]

In [103]:
data.eval_set.unique()

array(['train', 'test'], dtype=object)

In [105]:
#preparing the train df.
#using the df['eval_set']=='train as the training data due to prior dataset size (32M).
data_train = data.loc[(orders.eval_set == 'train')]
data_train.head()

    user_id eval_set  ...  prd_count_p  p_reordered_ratio
10        1    train  ...       2646.0           0.804611
25        2    train  ...       1893.0           0.690967
49        5    train  ...         99.0           0.525253
74        8    train  ...       3526.0           0.654566
78        8    train  ...       7409.0           0.840329

[5 rows x 11 columns]

In [75]:
#merging the information from the order_products_train df into the data_train.
data_train = data_train.merge(df[['product_id', 'order_id', 'reordered']], on=['product_id', 'order_id'], how='left')
data_train.head()

   user_id eval_set  order_id  ...  prd_count_p  p_reordered_ratio  reordered
0        1    train   1187899  ...       2646.0           0.804611        1.0
1        2    train   1492625  ...       1893.0           0.690967        1.0
2        5    train   2196797  ...         99.0           0.525253        1.0
3        8    train    880375  ...       3526.0           0.654566        0.0
4        8    train    880375  ...       7409.0           0.840329        0.0

[5 rows x 12 columns]

In [76]:
#filling the NAN values
data_train.reordered.fillna(0, inplace=True)

In [77]:
#setting user_id and product_id as index.
data_train = data_train.set_index(['user_id', 'product_id'])

#deleting eval_set, order_id as they are not needed for training.
data_train.drop(['eval_set', 'order_id'], axis=1, inplace=True)

In [78]:
data_train.head()

                    uxp_times_bought  ...  reordered
user_id product_id                    ...
1       49235.0                  1.0  ...        1.0
2       22825.0                  1.0  ...        1.0
5       21413.0                  1.0  ...        1.0
8       31717.0                  1.0  ...        0.0
        47766.0                  1.0  ...        0.0

[5 rows x 8 columns]

In [40]:
#preparing the test dataset.
data_test = data[data.eval_set == 'test']
data_test.head()

     user_id eval_set  ...  prd_count_p  p_reordered_ratio
42         3     test  ...          NaN                NaN
43         4     test  ...          NaN                NaN
53         6     test  ...          NaN                NaN
107       11     test  ...          NaN                NaN
108       12     test  ...          NaN                NaN

[5 rows x 11 columns]

In [39]:
#merging the information from the order_proucts_train df into the data_train.
data_test = data.loc[(orders.eval_set == 'test')]
data_test.head()

     user_id eval_set  ...  prd_count_p  p_reordered_ratio
38         2    train  ...        240.0           0.554167
44         5    train  ...         67.0           0.477612
53         6     test  ...          NaN                NaN
96         9    train  ...        128.0           0.640625
102        9    train  ...       1078.0           0.716141

[5 rows x 11 columns]

In [ ]:
#filling the NAN values
data_train.reordered.fillna(0, inplace=True)

In [ ]:
#setting user_id and product_id as index.
data_train = data_train.set_index(['user_id', 'product_id'])

#deleting eval_set, order_id as they are not needed for training.
data_train.drop(['eval_set', 'order_id'], axis=1, inplace=True)

In [ ]:
data_train.head()

In [ ]:
#preparing the test dataset.
data_test = data[data.eval_set == 'test']
data_test.head()

In [ ]:
#deleting unwanted columns
data_test.drop(['eval_set', 'order_id'], axis=1, inplace=True)

In [ ]:
#setting user_id and product_id as index.
data_test = data_test.set_index(['user_id', 'product_id'])

In [ ]:
data_test.head()

In [ ]:
#deleting unwanted df
del [aisles, departments, order_products_prior, order_products_train, orders, order_future, data] #order_future, data

In [ ]:
#resetting index
data_train.reset_index(inplace=True)
data_test.reset_index(inplace=True)

In [ ]:
data_train.head()

In [ ]:
#merging the aisles and department ids to with the train and test data
data_train = data_train.merge(products[['product_id', 'aisle_id']], on='product_id', how='left')
data_test = data_test.merge(products[['product_id', 'aisle_id']], on='product_id', how='left')

In [ ]:
#department
data_train = data_train.merge(products[['product_id', 'department_id']], on='product_id', how='left')
data_test = data_test.merge(products[['product_id', 'department_id']], on='product_id', how='left')

In [ ]:
#setting user_id and product_id as index.
data_test = data_test.set_index(['user_id', 'product_id'])
#setting user_id and product_id as index.
data_train = data_train.set_index(['user_id', 'product_id'])

In [ ]:
y_train = data_train.reordered
X_train = data_train.drop(columns=['reordered'])

# Save preprocessed data in new csv

In [ ]:
'''# save the data to a new csv file
#datapath = '../../data'
#save_file(df, 'processed.csv', datapath)

df.to_csv('processed_data.csv',index=False)'''