In [40]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import os 
from statsmodels.graphics.mosaicplot import mosaic
color = sns.color_palette()

from sklearn.decomposition import PCA
from sklearn.preprocessing import scale

#from library.sb_utils import save_file

import warnings
warnings.filterwarnings("ignore")

In [41]:
df = pd.read_csv('/content/instacart_data.csv')

In [42]:
df.head()

   order_id  product_id  ...   aisle  department
0         1       49302  ...  yogurt  dairy eggs
1    816049       49302  ...  yogurt  dairy eggs
2   1242203       49302  ...  yogurt  dairy eggs
3   1383349       49302  ...  yogurt  dairy eggs
4   1787378       49302  ...  yogurt  dairy eggs

[5 rows x 15 columns]

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1384617 entries, 0 to 1384616
Data columns (total 15 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   order_id                1384617 non-null  int64
 1   product_id              1384617 non-null  int64
 2   add_to_cart_order       1384617 non-null  int64
 3   reordered               1384617 non-null  int64
 4   product_name            1384617 non-null  object
 5   aisle_id                1384617 non-null  int64
 6   department_id           1384617 non-null  int64
 7   user_id                 1384617 non-null  int64
 8   eval_set                1384617 non-null  object
 9   order_number            1384617 non-null  int64
 10  order_dow               1384617 non-null  int64
 11  order_hour_of_day       1384617 non-null  int64
 12  days_since_prior_order  1384617 non-null  float64
 13  aisle                   1384617 non-null  object
 14  department              1384617 non-null  object
dtypes: float64(1), int64(10), object(4)
memory usage: 158.5+ MB

In [44]:
df.shape

(1384617, 15)

In [45]:
dfo = df.select_dtypes(include=['object'])

In [46]:
dfo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1384617 entries, 0 to 1384616
Data columns (total 4 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   product_name  1384617 non-null  object
 1   eval_set      1384617 non-null  object
 2   aisle         1384617 non-null  object
 3   department    1384617 non-null  object
dtypes: object(4)
memory usage: 42.3+ MB

In [47]:
#Determine which categorical features should be transformed into indicator variables
dfo.product_name.nunique()

39123

In [48]:
dfo.aisle.nunique()

134

In [49]:
dfo.department.nunique()
dfo = dfo['department']

`Department` will be the only categorical feature used in preprocessing. It has a relatively manageable count of unique variables (21). All other categorical variables have 100/1000+ nunique values. This would be exceptionally complex for this project.

In [50]:
 df = pd.concat([df.drop(dfo, axis=1), pd.get_dummies(dfo)], axis=1)

KeyError: ignored