## Modeling for Instacart data

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import xgboost

from sklearn.model_selection import train_test_split

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Import data from preprocessing.

In [23]:
datapath = ('/content/drive/MyDrive/GITHUB/GitHub/00 Capstone 2 - Instacart Market Basket Analysis (Customer Segmentation)/data/processed_data.csv')

df = pd.read_csv(datapath)

In [24]:
df.shape

(1384617, 39)

In [25]:
df.head()

   order_id  product_id  ...  order_number  days_since_prior_order
0         1       49302  ...     -0.787973               -0.773624
1    816049       49302  ...     -0.186072               -0.102252
2   1242203       49302  ...     -0.125882               -0.965445
3   1383349       49302  ...     -0.787973               -0.294073
4   1787378       49302  ...     -0.727783                1.240491

[5 rows x 39 columns]

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1384617 entries, 0 to 1384616
Data columns (total 39 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   order_id                    1384617 non-null  int64
 1   product_id                  1384617 non-null  int64
 2   reordered                   1384617 non-null  int64
 3   aisle_id                    1384617 non-null  int64
 4   department_id               1384617 non-null  int64
 5   user_id                     1384617 non-null  int64
 6   order_hour_of_day           1384617 non-null  object
 7   aisle                       1384617 non-null  object
 8   department_alcohol          1384617 non-null  int64
 9   department_babies           1384617 non-null  int64
 10  department_bakery           1384617 non-null  int64
 11  department_beverages        1384617 non-null  int64
 12  department_breakfast        1384617 non-null  int64
 13  department_bulk             1384617 non-null  int64
 14  department_canned goods     1384617 non-null  int64
 15  department_dairy eggs       1384617 non-null  int64
 16  department_deli             1384617 non-null  int64
 17  department_dry goods pasta  1384617 non-null  int64
 18  department_frozen           1384617 non-null  int64
 19  department_household        1384617 non-null  int64
 20  department_international    1384617 non-null  int64
 21  department_meat seafood     1384617 non-null  int64
 22  department_missing          1384617 non-null  int64
 23  department_other            1384617 non-null  int64
 24  department_pantry           1384617 non-null  int64
 25  department_personal care    1384617 non-null  int64
 26  department_pets             1384617 non-null  int64
 27  department_produce          1384617 non-null  int64
 28  department_snacks           1384617 non-null  int64
 29  order_dow_Friday            1384617 non-null  int64
 30  order_dow_Monday            1384617 non-null  int64
 31  order_dow_Saturday          1384617 non-null  int64
 32  order_dow_Sunday            1384617 non-null  int64
 33  order_dow_Thursday          1384617 non-null  int64
 34  order_dow_Tuesday           1384617 non-null  int64
 35  order_dow_Wednesday         1384617 non-null  int64
 36  add_to_cart_order           1384617 non-null  float64
 37  order_number                1384617 non-null  float64
 38  days_since_prior_order      1384617 non-null  float64
dtypes: float64(3), int64(34), object(2)
memory usage: 412.0+ MB

In [27]:
df.describe()

           order_id    product_id  ...  order_number  days_since_prior_order
count  1.384617e+06  1.384617e+06  ...  1.384617e+06            1.384617e+06
mean   1.706298e+06  2.555624e+04  ...  1.378045e-14            4.718488e-14
std    9.897326e+05  1.412127e+04  ...  1.000000e+00            1.000000e+00
min    1.000000e+00  1.000000e+00  ... -7.879732e-01           -1.636816e+00
25%    8.433700e+05  1.338000e+04  ... -6.675930e-01           -9.654447e-01
50%    1.701880e+06  2.529800e+04  ... -3.666425e-01           -1.981627e-01
75%    2.568023e+06  3.794000e+04  ...  2.352584e-01            1.240491e+00
max    3.421070e+06  4.968800e+04  ...  4.990276e+00            1.240491e+00

[8 rows x 37 columns]